* {
  margin-top: 0;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  background-color: #15202b;
}

.twitter-logo {
  margin-top: 8px;
  height: 16vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .twitter-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
