.container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 5%;
  padding: 3%;
  border-radius: 15px;
  border: 1px solid rgba(110, 118, 125, 0.5);
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
